                        List of the "Home Medicine Chest" project requirements

1 General.
1.1 User must to have an ability to VIEW, INSERT, UPDATE and DELETE database data.

2 The main window.
2.1 The main window names "Medicine card". Here user may perform all operation, specified by 1.1.
    On this window must places all data, relevant to every medicine item, with push buttons for walk through medicines items.
    This window must looks like forms in MS Access.
2.2 The fields, linked with some database table, must give interface to add new item in linked table.
2.3 Also this window must include some interface for:
    - connection to database;
    - disconnection from database;
    - refreshing data in application;
    - applying changes, inputed in any field of window, to database (INSERT, UPDATE, DELETE);
    - open window for queries execution;
    - open window for graphs plotting.
2.4 If user made some changes in any field he must press "Apply" (or "Save") push button, and after this he can go to another medicine card.
    If user don't save inputed changes and try go to another medicine card, application must ask his - Do you want to save changes? (Yes, No).

3 Queries execution.
3.1 Queries execution performs in the window "Queries".
3.2 This window must consist 3 type of queries:
    1) prepared query - is ready for execution and user don't need to enter some settings;
    2) complex query - user must enter some settings;
    3) custom query - user may write a custom SQL-command directly in the field "Query field".
3.3 When user choose any query ( 3.2 1) or 2) ) its approppriate SQL-command must place in field "Query field".
3.4 By default the field "Query field" is disable. To make it enabled user must choose custom query and correct query command.
3.5 The field "Query field" clears after performing a successful query execution.
3.6 Queries by 3.2 executes only after pressing "Execute" push button.
3.7 In bottom part of this window must places a table for showing current query execution results. The size of this table must to be variable.

4 Graphs plotting.
4.1 Graphs plotting in the window "Graphs".
4.2 Application must plot the next graphs:
    1) graphs window "Expiration dates - Users", that include:
       - pie chart: quantity of medicine items for every user;
       - bar graph (stack diagram): X axis - year.month, Y axis - quantity of medicine items for every user,
         expiration date of which ends in every year.month;
    2) graphs "Expiration dates - Destinations", that include:
       - pie chart: quantity of medicine items for every destination;
       - bar graph (stack diagram): X axis - year.month, Y axis - quantities of medicine items for every destination,
         expiration date of which ends in every year.month.
4.3 When user click to any graph item, it must to be switching to the window "Queries" with execution the appropriate query.

5 Notifications.
5.1 Application must inform about ending of expiration dates for any medicine item.
5.2 Application must additional inform when ends the expiration dates of all medicine items for any destination
    (that's means there are no one any suitable medicines items for some destination and there are need go to a drugstore).
5.3 Application must additional inform when ends the expiration dates of all medicine items for any user
    (that's means this user has't any suitable medicines items and there are need go to a drugstore).

6 Pictures.
6.1 Medicine's pictures downloads from internet (maybe from google pictures).
6.2 There are need to download small or medium (no large) medicine's pictures from internet.
6.3 Actually, medicine's pictures stores in file system and database store the path/name to every picture.

